[data-top-dock="default"], .dock-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 3vh;
    background-color: rgb(100, 200, 50);
}

#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 100%;
    margin-left: 2.5rem;
    border-radius: 10px;
    background-color: white;
}

#settings:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}