#startMenu {
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    background-color: rgba(110, 200, 20, 50%);
}

#startMenu i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
}

#startMenu:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

#startLogo {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}

[data-dock="default"], .dock {
    position: absolute;
    bottom: 1%;
    left: 10%;
    height: 5vh;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0%, 50%, 50%, 50%);
    box-shadow: 1px 2px 5px rgba(100%, 100%, 100%, 60%);
    z-index: 1;
}