[data-desktop="default"], .desktop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #009A29;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 401px) and (max-width: 767px){
    .desktop {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
    .desktop {
        display: flex;
        flex-direction: column;
    }
}