[data-desktop="view"] {
    height: 97vh;
    width: 100%;
    z-index: 0;
}

.classic {
    background-image: url("../../img/cascading-lime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

.limesoup {
    background-image: url("../../img/lime-soup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

.limewater {
    background-image: url("../../img/lime-water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}